---
title: unittest.TestResult
permalink: /Python/unittest/TestResult/
date: 2021-01-01
key: Python.U.unittest.TestResult
category: python
tags: ['clase python', 'unittest']
sidebar: 
  nav: python
---

{% include w3api/datos.html clase=site.data.Python.U.unittest.TestResult.metodos valor="unittest/TestResult" %}

## Descripción
{{site.data.Python.U.unittest.TestResult.description }}

## Sintaxis
~~~python
{{ site.data.Python.U.unittest.TestResult.sintaxis }}~~~

## Constructores
* [TestResult](/Python/unittest/TestResult/TestResult/)

## Métodos
* [addError](/Python/unittest/TestResult/addError/)
* [addExpectedFailure](/Python/unittest/TestResult/addExpectedFailure/)
* [addFailure](/Python/unittest/TestResult/addFailure/)
* [addSkip](/Python/unittest/TestResult/addSkip/)
* [addSubTest](/Python/unittest/TestResult/addSubTest/)
* [addSuccess](/Python/unittest/TestResult/addSuccess/)
* [addUnexpectedSuccess](/Python/unittest/TestResult/addUnexpectedSuccess/)
* [startTest](/Python/unittest/TestResult/startTest/)
* [startTestRun](/Python/unittest/TestResult/startTestRun/)
* [stop](/Python/unittest/TestResult/stop/)
* [stopTest](/Python/unittest/TestResult/stopTest/)
* [stopTestRun](/Python/unittest/TestResult/stopTestRun/)
* [wasSuccessful](/Python/unittest/TestResult/wasSuccessful/)

## Atributos
* [buffer](/Python/unittest/TestResult/buffer/)
* [errors](/Python/unittest/TestResult/errors/)
* [expectedFailures](/Python/unittest/TestResult/expectedFailures/)
* [failfast](/Python/unittest/TestResult/failfast/)
* [failures](/Python/unittest/TestResult/failures/)
* [shouldStop](/Python/unittest/TestResult/shouldStop/)
* [skipped](/Python/unittest/TestResult/skipped/)
* [tb_locals](/Python/unittest/TestResult/tb_locals/)
* [testsRun](/Python/unittest/TestResult/testsRun/)
* [unexpectedSuccesses](/Python/unittest/TestResult/unexpectedSuccesses/)

## Ejemplo
~~~python
{{ site.data.Python.U.unittest.TestResult.code}}
~~~

## Artículos
<ul>
{%- for _ldc in site.data.Python.U.unittest.TestResult.ldc -%}
   <li>
       <a href="{{_ldc['url'] }}">{{ _ldc['nombre'] }}</a>
   </li>
{%- endfor -%}
</ul>
