---
title: unittest.TestResult.TestResult
permalink: /Python/unittest/TestResult/TestResult/
date: 2021-01-01
key: Python.U.unittest.TestResult.TestResult
category: python
tags: ['constructor python', 'unittest']
sidebar: 
  nav: python
---

{% include w3api/datos.html clase=site.data.Python.U.unittest.TestResult.constructores valor="TestResult" %}

## Descripción
{{_dato.description }}

## Sintaxis
~~~python
{{ _dato.sintaxis }}~~~

## Clase Padre
[TestResult](/Python/unittest/TestResult/)

## Ejemplo
~~~python
{{ _dato.code}}
~~~

## Artículos
<ul>
{%- for _ldc in _dato.ldc -%}
   <li>
       <a href="{{_ldc['url'] }}">{{ _ldc['nombre'] }}</a>
   </li>
{%- endfor -%}
</ul>
